@model IEnumerable<AspNetCoreMentoring.UI.ViewModels.Product.ProductReadListViewModel>
 @{
     ViewData["Title"] = "Products Page";
 }
<hr />
<p>
    <a asp-area="" asp-controller="Products" asp-action="CreateProduct" class=" btn btn-success">Create New Product</a>
</p>
<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ProductId</th>
                    <th>ProductName</th>
                    <th>QuantityPerUnit</th>
                    <th>UnitPrice</th>
                    <th>UnitsInStock</th>
                    <th>UnitsOnOrder</th>
                    <th>ReorderLevel</th>
                    <th>Discontinued</th>
                    <th>CategoryName</th>
                    <th>SupplierName</th>
                </tr>

            </thead>
            @foreach (var product in Model)
            {
                <tr>

                    <td> @Html.DisplayFor(modelItem => product.ProductId)</td>
                    <td>
                        <a asp-area=""
                           asp-controller="Products"
                           asp-action="EditProduct"
                           asp-route-id="@product.ProductId">
                            @Html.DisplayFor(modelItem => product.ProductName)
                        </a>
                    </td>
                    <td> @Html.DisplayFor(modelItem => product.QuantityPerUnit)</td>
                    <td> @Html.DisplayFor(modelItem => product.UnitPrice)</td>
                    <td> @Html.DisplayFor(modelItem => product.UnitsInStock)</td>
                    <td> @Html.DisplayFor(modelItem => product.UnitsOnOrder)</td>
                    <td> @Html.DisplayFor(modelItem => product.ReorderLevel)</td>
                    <td> @Html.DisplayFor(modelItem => product.Discontinued)</td>
                    <td> @Html.DisplayFor(modelItem => product.CategoryName)</td>
                    <td> @Html.DisplayFor(modelItem => product.SupplierName)</td>
                </tr>
            }

        </table>
    </div>
</div>

@section Footer{
    <div class=" text-center">
        All products are rendered here
    </div>
}