@model IEnumerable<AspNetCoreMentoring.UI.ViewModels.Category.CategoryReadListViewModel>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>CategoryId</th>
                    <th>CategoryName</th>
                    <th>Description</th>
                    <th>Category Image</th>
                </tr>

            </thead>
            @foreach (var category in Model)
            {
                <tr>
                    <td>   @Html.DisplayFor(modelItem => category.CategoryId)</td>
                    <td>
                        <a asp-area=""
                           asp-controller="Categories"
                           asp-action="EditCategory"
                           asp-route-id="@category.CategoryId">
                            @Html.DisplayFor(modelItem => category.CategoryName)
                        </a>

                    </td>
                    <td>   @Html.DisplayFor(modelItem => category.Description)</td>
                    <td>
                        <a asp-area=""
                           asp-controller="Categories"
                           asp-action="CategoryImage"
                           asp-route-id="@category.CategoryId">
                            Image
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
